form
{
	&.control
	{
		margin-top: 10px;
		h4
		{
		    border: 1px solid @main-hover;
		    border-left: none;
		    border-right: none;
		    color: white;
			cursor: pointer;
		    font-size: 12px;
		    font-weight: bold;
		    height: 25px;
		    margin: 0 0 7px;
		    padding: 5px 10px;
		    transition: all .3s ease;
			&:hover
			{
		    	background: @main-hover;
		    	border-color: @main-hover;
			}
			b
			{
				text-transform: uppercase;
			}
			span.glyphicon.close
			{
				display: none;
				font-size: 12px;
			}
			&.active
			{
				background: lighten(@main-hover, 7%);
				border-color: lighten(@main-hover, 7%);
		    	color: white;
				cursor: default;
				span.glyphicon.close 
				{
					display: initial;
					&:hover
					{
						color: white;
					}
				}
			}
		}
		h5
		{
			background: @main-focus;
			color: white;
			cursor: pointer;
			font-size: 12px;
			font-weight: bold;
			padding: 1px 10px;
			text-transform: uppercase;
			width: auto;
			.glyphicon
			{
				color: white;
				font-size: 13px;
				float: right;	
				margin-right: 0;
				margin-top: -1px;
			}
			&.active
			{
				background: @active;
			}
		}	
		li
		{
			cursor: pointer;
			font-size: 13px;
			list-style: none;
			padding-left: 10px;
			transition: all .2s ease;
			&:hover
			{
				background: @main-hover;
			}
		}
		button
		{
			background: @active;
			border-radius: 0;
			border: none;
			color: white;
			margin-left: 10px;
			margin-top: 5px;
			padding: 7px 45px;
			transition: all .2s ease;
			&:hover
			{
				background: lighten(@active, 3%);
				color: white;
			}
		}
		.input-group
		{
			background: inherit;
			span
			{
				background: transparent;
				border: none;
				color: white;
				font-size: 13px;					
				height: 20px;
				padding: 5px 0 5px 10px;
				text-align: left;
				&.prefix
				{
					width: 100px;
				}
				&.postfix
				{
					padding-right: 10px;
					width: 30px;
					span.glyphicon
					{
						font-size: 13px;
						margin: -3px 0 -10px;
						padding: 0;
					}
				}
			}
			input, select, textarea
			{
				font-size: 13px;
				height: 20px;
				min-width: 160px;
				max-width: 160px;
				&[type="color"]
				{
					width: 160px;
					padding: 0 10px;
				}
			}
			select
			{
				border-radius: 0;
				padding: 0 10px;
			}
			textarea
			{
				height: 60px !important;
				margin-right: -6px;
				padding: 2px 5px;
				resize: none;
			}
		}
	}
	&.search
	{
		span.input-group-addon, button
		{
			background-color: transparent;
			border-radius: 0;
			border: 2px solid #f1f1f1;
			color: @main-color;
			height: 40px;
		}
		input.form-control
		{
			background: transparent;
			border: 1px solid #f1f1f1;
			border-left: none;
			border-right: none;
			border-bottom-width: 2px;
			border-radius: 0;
			color: @main-color;
			height: 40px;
			transition: all .3s ease;
			&:hover, &:focus
			{
				border-bottom-color: @google;
			}
		}
		button:hover
		{
			background-color: #fafafa;
			border-color: #f1f1f1;
			color: @main-color;
		}
		::-webkit-input-placeholder 
		{
		  	color: #aaa;
		}
		div.color-line
		{
			height: 2px;
		}		
	}
}