section.editor
{
	@margin: 40px;
	@config: 300px;
	background: white;
	height: ~'calc(100vh - 2*@{margin})';
	width: ~'calc(100vw - 2*@{margin})';
	margin: @margin;
	main.config
	{
		width: @config;
		height: 100%;
		background: @main-color;
		position: relative;
		top: 0;
		left: 0;
		h3 
		{
			background: @main-hover;
			color: white;
			height: 50px;
			padding: 15px 10px;
			margin-bottom: 20px;
			font-size: 18px;
		}
		nav.select
		{
			margin-bottom: 50px;				
			li
			{
				display: inline;
				padding: 1px 0 2px;
				text-align: center;
				color: white;
				cursor: pointer;
				font-size: 13px;
				background: @main-hover;
				&.active
				{
					background: @sec-hover;
				}
			}
		}
		details
		{
			color: white;
			margin: 0;
			padding-top: 7px;
			summary
			{
				background: @main-hover;
				border: none;
				cursor: pointer;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				outline: none;
				padding: 1px 0 0;
				text-transform: uppercase;
			}
			ul
			{
				max-height: 180px;
				overflow-x: hidden;
				overflow-y: auto;
				li
				{
					background: lighten(@main-color, 3%);
					border: 2px solid @main-color;
					border-width: 3px 0px 2px;
					font-size: 13px;
					list-style: none;
					padding: 0 10px;
					&:hover
					{
						background: lighten(@main-color, 6%);
					}
				}
			}
		}
	}
	main.preview
	{
		width: ~'calc(100vw - 2*@{margin} - @{config})';
		height: ~'calc(100vh - 2*@{margin})';
		background: white;
		position: absolute;
		top: @margin;
		left: @margin + @config;
		.canvas
		{
			margin-top: 42px;
			canvas
			{
				max-width: 100%;
			}
		}
		.textarea
		{
			margin: 42px 10px 20px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.options
		{
			margin: 42px 10px 20px;
			padding: 10px 20px;
			h5 b
			{
				text-transform: uppercase;
			}
			li
			{
				list-style: none;
				input
				{
					margin-right: 10px;
				}
			}
			input[type="text"], select, textarea
			{
				border-radius: 50px;
				font-size: 13px;
				min-width: 200px;
				padding: 0 10px;
			}
			textarea
			{
				border-radius: 5px;
				height: 200px;
				padding: 5px 10px;
				resize: none;
				width: 400px;
			}
		}
	}
	header
	{
		position: absolute;
		top: @margin;
		left: @margin + @config;
		width:  ~'calc(100vw - 2*@{margin} - @{config})';
		height: 30px;
		padding: 15px 10px;
		h5
		{
			color: @main-hover;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
			font-size: 15px;
			display: inline;
			margin-right: 300px;
		}
	}
	footer
	{
		position: absolute;
		bottom: @margin + 10px;
		left: @margin + @config;
		width:  ~'calc(100vw - 2*@{margin} - @{config})';
		z-index: 10;
		h6
		{
			display: inline;
			margin-left: 10px;
			margin-right: 10px;
			font-size: 13px;
			font-weight: bold;
			i
			{
				font-size: 15px;
				margin-right: 7px;
			}
		}
	}
}
.react-modal
{
	@margin: 40px;
	@config: 300px;
	background: rgba(0, 0, 0, .9);
	height: 100vh;
	left: 0;
	outline: none;	
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 999999;
}
.react-submit
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: @main-color;
	color: white;
	width: 150px;
	height: 40px;
	transition: all .3s ease;
	cursor: pointer;
	padding: 3px 0;
	margin: 0;
	z-index: 10;
	border-radius: 0;
	&:hover
	{
		background: @main-hover;
		color: white;
	}
}
.react-close
{
	position: absolute;
	top: 50px;
	right: 50px;
	color: @main-color;
	font-size: 18px;
	cursor: pointer;
	z-index: 1;
	&:hover
	{
		color: @main-hover;
	}
}