@background: white;

@main-color: #262f3d;
@main-active: #19212b;
@main-hover: lighten(@main-color, 7%);
@main-focus: darken(@main-color, 3%);

@navh: 45px;
@navw: 60px;
@nav-bg-color: darken(@main-active, 1%);
@nav-bg-hover: lighten(@main-hover, 1%);
@nav-active: lighten(@main-color, 10%);
@nav-color: white;

@active: #bb0000;
@google: #399ce6;
@gray: #f6f6f6;

@info-color: #f0f2f7;
@sec-color: #f77462;

@images: "/images";
@fonts:	"/styles/fonts";
@font-family: 'Montserrat', sans-serif;
@font-size: 14px;

@config: 300px;
@margin: 40px;

@c-algebra: #91518f;
@c-datos: #549c02;
@c-general: #bf9b30;
@c-geometria: #00aaad;
@c-medicion: #175389;
@c-numeracion: #bc2424;

@wide-desktop: 1200px;
@desktop: 992px;
@tablet: 768px;
@phone: 480px;