*
{
	margin: 0;
	padding: 0;
}
#app
{
    background-color: #ffd48b;
    min-height: 100vh;
    margin: 0;
}
#app p.app
{
	padding-top: 35vh; 
	text-align: center;	
	margin: 0;
} 
#app img.app
{
	margin: 0;
	width: 120px;
}