.react-app .buscador
{
	padding-bottom: 80px;
	text-align: center;
	width: 100%;
	h3
	{
		padding: 28vh 0 10px;
		transition: all .3s ease;
		&.selected
		{
			padding-top: 0;
		}
	}
	form
	{
		width: 600px;
		margin: 0 auto;
		h6.search-count
		{
			width: 100%;
			font-weight: bold;
			text-align: right;
			span.glyphicon-ok
			{
				color: green;
			}
		}
		span.input-group-addon
		{
			background-color: white;
		}
		input.form-control
		{
			border-left-color: white;
			&:hover, &:focus
			{
				border-color: #66afe9;
			}
		}
		.row
		{
			margin-top: -25px;
			h6
			{
				display: inline;
				margin: 0 10px;
			}		
		}
	}
	table
	{
		margin-top: 30px;
		text-align: left;
		th
		{
			font-size: 13px;
		}
		tbody tr
		{
			cursor: pointer;
		}
	}
	section
	{
		text-align: right;
	}
}