.react-app .versiones
{
	.row
	{
		.combinaciones, .seleccion
		{
			background-color: @info-color;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 10px 15px;
			margin-top: 20px;
			overflow-y: auto;
			height: 400px; 
			h4
			{
				cursor: move;
			    cursor: grab;
			    cursor: -moz-grab;
			    cursor: -webkit-grab;
			    background-color: darken(@sec-color, 8%);
			    font-size: 13px;
			    border-radius: 20px;
			    padding: 5px 10px;
			    font-weight: bold;
			    color: white;
			    transition: all .3s ease;
				&:hover
				{
					background-color: @sec-hover;
				}
			    &:active 
			    { 
				    cursor: grabbing;
				    cursor: -moz-grabbing;
				    cursor: -webkit-grabbing;
				    background-color: darken(@sec-hover, 10%);
				}
			}
		}
		.preview
		{
			background-color: @info-color;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 10px 15px;
			margin-top: 20px;
			height: 400px; 
			overflow-y: hidden;
		}
	}
}