.react-app .versiones
{
	.preview
	{
		background-color: @info-color;
		border: 2px solid #ddd;
		padding: 10px 15px;
		margin-top: 20px;
		height: 430px; 
		overflow-y: auto;
	}
	.generate
	{
		form
		{
			margin-top: 10px;
			h5
			{
				color: white;
				text-transform: uppercase;
				padding-left: 10px;
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
				background: @main-hover;
				width: auto;
				.glyphicon
				{
					color: white;
					font-size: 13px;
					float: right;	
					margin-right: 10px;
				}
				&.active
				{
					background: @sec-hover;
				}
			}
			span
			{
				background: transparent;
				color: white;
				border: none;
				height: 20px;
				font-size: 13px;					
				padding: 5px 0;
				text-align: left;
				padding-left: 10px;
				&.prefix
				{
					width: 80px;
				}
				&.postfix
				{
					width: 30px;
					padding-right: 10px;
				}
			}
			input, select
			{
				height: 20px;
				font-size: 13px;
				width: 180px;
				&[type="color"]
				{
					width: 180px;
					padding: 0 10px;
				}
			}
			select
			{
				padding: 0 10px;
				border-radius: 0;
			}
			button
			{
				background: @sec-hover;
				color: white;
				border-radius: 0;
				padding: 5px 20px;
				margin-top: 10px;
				margin-left: 10px;
			}
		}
	}



	.combinaciones, .seleccion
	{
		background-color: @info-color;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px 15px;
		margin-top: 20px;
		overflow-y: auto;
		height: 400px; 
		h4
		{
			cursor: move;
		    cursor: grab;
		    cursor: -moz-grab;
		    cursor: -webkit-grab;
		    background-color: darken(@sec-color, 8%);
		    font-size: 13px;
		    border-radius: 20px;
		    padding: 5px 10px;
		    font-weight: bold;
		    color: white;
		    transition: all .3s ease;
			&:hover
			{
				background-color: @sec-hover;
			}
		    &:active 
		    { 
			    cursor: grabbing;
			    cursor: -moz-grabbing;
			    cursor: -webkit-grabbing;
			    background-color: darken(@sec-hover, 10%);
			}
		}
	}
}