@import "toastr";
@import "splitpane";
@import "draft";

.react-app
{
	background-color: @bg-color;
	padding-left: 85px;
	margin: 0;
	min-height: 100vh;
	margin-top: -20px;
	padding-bottom: 60px;
	padding-top: 80px;
	transition: all .3s ease;
	h3
	{
		width: 100%;
		padding-right: 20px;
		b.local
		{
			color: @sec-color;
			font-weight: normal;
			margin-left: 5px;
		}
		span
		{
			margin-left: 20px;
			&.glyphicon, &.mode
			{
				cursor: pointer;
				float: right;
				font-size: 17px;
				margin-right: 0;
			}
			&.mode
			{
				text-transform: uppercase;
				font-size: 12px;
				padding-top: 3px;
				font-weight: bold;
				color: @sec-color;
			}
			.info, .options
			{
				background-color: white;
				border: 1px solid #aaa;
				display: none;
				font-size: 13px;
				position: absolute;
				padding: 10px;
				right: 0;
				top: 25px;
				width: 350px;
				z-index: 10;
			}
			.options
			{
				background-color: @info-color;
				padding: 0;
				width: 200px;
				ul
				{
					background-color: white;
					list-style: none;
					margin-bottom: 0px;
					padding: 0px;
					li
					{
						padding: 10px;
						transition: all .2s ease;
						&:hover
						{
							background-color: @info-color;
							a
							{
								color: #222;
							}
						}
					}
				}
				&.clicked
				{
					display: initial;
				}
			}
			&:hover .info
			{
				display: initial;
				z-index: 9;
			}
		}
		a.button
	    {
	        background-color: @sec-color;
	        bottom: 30px;
	        box-shadow: 0px 1px 3px #777;
	        color: white;
	        cursor: pointer;
			float: right;
	        font-size: 13px;
	        margin-top: -8px;
	        margin-right: 8px;
	        padding: 9px 25px;
	       	transition: all .2s ease;
	        &:hover
	        {
	            background-color: @sec-hover;
	            text-decoration: none;
	        }
	    }
		span + span, b + span
		{
			margin-left: 25px;
		}
	}
	aside
	{
		background: @main-color;
		width: 300px;
		position: fixed;
		top: 45px;
		right: -300px;
		height: ~'calc(100vh - 45px)';
		transition: right .3s ease;
		box-shadow: -1px 0px rgba(0, 0, 0, .3);
		z-index: 1000;
		&.active
		{
			right: 0;
		}
		.title
		{
			background: @main-hover;
			color: white;
			height: 35px;
			padding: 10px 10px;
			margin-bottom: 20px;
			h3 
			{
				font-size: 15px;
				margin: 0;
			}
		}
	}
	.react-notification
	{
		padding-top: 45px;
	}		
	.react-continue
	{
		text-align: right;
		.btn-success
		{
			margin-top: -10px;
			margin-right: -35px;
			background: @nav-bg-color;
			border-color: @nav-bg-hover;
			&:hover
			{
				background: @nav-bg-hover;
			}
		}
	}
	&.slim
	{
		background-color: @gray-color;
		width: ~'calc(100vw - 315px)';
		.ejercicios, .versiones, .variables
		{
			.row
			{
				width: ~'calc(100vw - 425px)';
			}	
		}
	}
	.color-line
	{
		height: 2px;
	}
}