.react-app .variables
{
	padding-bottom: 80px;
	h3, h5
	{
		text-align: left;
	}
	h3
	{
		margin-top: 50px;
	}
	.row
	{
		form
		{
			margin-top: 20px;
			width: ~'calc(100% - 250px)';
			padding: 0 40px;
			table
			{
				text-align: left;
				thead tr
				{
					font-size: 13px;
				}
			}		
			div.add
			{
				text-align: right;
			}
			input.form-control.vt
			{
				width: 50px;
			}
		}
		.resume
		{
			background-color: @info-color;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 10px 15px;
			margin-top: 30px;
			width: 250px;
			h5, h6.code
			{
				margin-bottom: 20px;
			}
		}
	}
}